/* font face  */

@font-face {
    font-family: "Montserrat-Medium" ;
    src: url("../font/Montserrat/Montserrat-Medium.ttf");
}

/* mt -> margin top */

.mt_31{
    margin-top: 31px;
}

.mt_102{
    margin-top: 102px;
}

.mt_99{
    margin-top: 99px;
}

/* margin bottom */

.mb_97{
    margin-bottom: 97px;
}

.mb_99{
    margin-bottom: 99px
}


/* padding  */

.p_38 {
    padding: 38px;
}


/* section_1 */

/* logo */



/* nav */

.nav ul{
    float: right;
}

.nav ul li {
    list-style: none;
    float: left;
    padding-right:19px;
}

.nav ul li a{
    text-decoration: none;
    color: #383838;
}

.nav ul li a:hover{
    color: #10c9c3;
}




/* section_2  */

.g_d{
    text-align: center;
}

.g_d span{
    font-size: 38pt;
}

.span_2{
    font-size: 18pt;
}

.g_d_2{
    text-align: center;
}

.gray_color{
    background-color: #f6f6f6;
}



/* section_3  */


/* counters css */


.counter {
    /* background-color:#f5f5f5; */
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

.blue_bg_counter{
    /* background-color: #10c9c3; */
    background-color: #1d6dbd;

}

















/* footer started  */

.footer_bg_clr{
    background-color: black;
}

.legal{
    color: whitesmoke;
}

.legal h2{
    font-size: 12pt;
    color: #ffff;
}

.legal span{
    font-size: 10pt;
    color: #bcbcbc;
}



/* email  */

.email a{
    text-decoration: none;
    color: #b1b1b1;
    float: right;
}



/* project */


.project_1 h1{
    font-family: "Montserrat-Medium";
    font-size: 25pt;
    font-weight: 800;
    color: black;
}

.project_1 p{
    font-family: "NunitoSans-Regular";
    color: #787878;
    font-size: 12pt;
}


.project ul{
}

.project_1 ul li{
    list-style: none;
}

.project_1 ul li a{
    text-decoration: none;
    font-size: 10pt;
    color: #bcbcbc;
}

.project_1_r ul li a{
    float: right;
    text-decoration: none;
    color: #bcbcbc;

}

.project_1_r

/* footer ends   */





/* About us */

.gray_color_1{
    background-color: #3e3e3e;
}


.a_m_bg_clr {
    background: #f5f5f5;
    padding: 152px 146px;
}

.about_me h1{
    font-family: "Montserrat-Medium" ;
    font-size: 22pt;
}

.about_me p{
    /* line-height: 32px; */
    font-size: 11pt;
}


.mt_5{
    margin-top: 5px;
}


.project h1{
    text-align: center;
    font-size: 20pt;
    font-family: "Montserrat-Medium" ;
}

.project p {
    text-align: center;
    font-size: 10pt;
    color: whitesmoke;
}

.button {
    background-color: #10c9c3;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }




  /* contact   */

  .contact_info {
    padding: 106px 0px;
}


  .contact_info h1{
    color: #171717;
  }

  /* .contact_info p{
    color: #787878;
  } */

  .contact_info p {
    color: #787878;
    padding-right: 110px;
}

.add {
    padding: 3px 0px;
}

  .add a{
    text-decoration: none;
    color: #787878;
  }

  span .bb{
    color: #171717;
  }

  .form_1{
    border: none;
  }

  .button_2 {
    border: none;
    color: white;
        background-color: #1d6dbd;
        padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0;
  }

  .button_2:hover{
    color: whitesmoke;
    background-color: #f5791e;
  }




  /* LIGHT BREAKFAST  */

  /* next privous project  css */


  .previous a{
    float: left;
    text-decoration: none;
  }
  .next a{
    text-decoration: none;
    float: right;
  }

.n_p{
    padding: 50px;
}

.square_4 {
    padding: 6px 0px;
}

  .previous a, .next a{
    font-size: 25px;
    color: #2c2c2c;
  }

  .previous span, .next span{
    font-size: 15px;
  }


.image-effect-effect {
    width: 500px;
    height: 500px;
    margin: 40px auto;
    position: relative
}

.image-effect-effect .one:before,
.image-effect-effect .one:after,
.image-effect-effect .two:before,
.image-effect-effect .two:after {
    content: '';
    /* background: #0fb5b5; */
    /* background-color: #171717; */
    background-color: #10c9c3;

    width: 0;
    height: 4px;
    display: block;
    position: absolute;
    transition-duration: .3s
}

.image-effect-effect .one:after,
.image-effect-effect .two:after {
    width: 4px;
    height: 0;
}

.image-effect-effect .one:before {
    top: 0;
    right: 0;
    transition-delay: .1s
}

.image-effect-effect .one:after {
    top: 0;
    left: 0;
    transition-delay: 1s
}

.image-effect-effect .two:before {
    bottom: 0;
    left: 0;
    transition-delay: .7s
}

.image-effect-effect .two:after {
    bottom: 0;
    right: 0;
    transition-delay: .4s
}



.image-effect-effect:hover .one:before {
    transition-delay: 1s
}

.image-effect-effect:hover .one:after {
    transition-delay: .1s
}

.image-effect-effect:hover .two:before {
    transition-delay: .4s
}

.image-effect-effect:hover .two:after {
    transition-delay: .7s
}

.image-effect-effect:hover .one:before,
.image-effect-effect:hover .two:before {
    width: 100%;
}

.image-effect-effect:hover .one:after,
.image-effect-effect:hover .two:after {
    height: 100%
}

.image-effect-effect img {
    opacity: 1
}

.image-effect-effect:hover img {
    opacity: .1;
    transition-delay: 1.2s;
    transition-duration: .3s
}

.image-effect-effect h3 {
    position: absolute;
    color: #FFF;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    opacity: 0
}

.image-effect-effect:hover h3 {
    opacity: 20;
    font-size: 50px;
    transition-delay: 1.3s;
    transition-duration: .3s
}
























/* one page html  */



@font-face {
    font-family: "NunitoSans-Regular";
    src: url("../font/Nunito_Sans/NunitoSans-Regular.ttf");
}
/* nav one page  */


.bg_img {
    background-image: url(../img/one_page/web-development-reverse.jpg);
    background-position: top;
    background-repeat: no-repeat;
    position: inherit;
    background-repeat: no-repeat;
    background-size: auto;
    height: 91vh;
    
}

.gray_color_2{
    background-color: #e9e9e9;
}
.contact_us_form_bg {
    background-image: url("../img/one_page/contact_us/contact-us-1.jpg");
    opacity: 1;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
}


/* logo_o_p */

.mt_15{
    margin-top: 15px;
}

.logo_o_p{
    width: 100%;
    float: left;
}

.logo_o_p img {
    /* width: 80%; */
    margin: auto;
    margin-top: 25px;
    width: 15%;
}

.nav_one_page ul {
    float: right;
    margin-top: 20px;
}

.nav_one_page ul li {
    list-style: none;
    float: left;
    padding: 0px 17px;
    font-family: "Montserrat-Medium";
    font-weight: 900;

}


.nav_one_page ul li a{
    text-decoration: none;
    color: #383838;
    font-size: 15px;

}

.nav_one_page ul li a:hover{
    color: #f5791e;
    
}



/* button contact us  */

.contact_us {
    margin: 0;
    /* background: #171618; */
    float: left;
    /* height: 100vh; */
    display: grid;
    place-items: center;
}


.contact_us a {
    position: relative;
    padding: 15px 21px;
    /* box-shadow: 0 0 10px 5px #f5791e; */
    background-color:  #f5791e;
    /* color: #999; */
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font: 700 17px consolas;
    overflow: hidden;
}


.contact_us a:hover {
    color: whitesmoke;
    background-color: #1d6dbd;
}
.contact_us a span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, whitesmoke, #3bff);
	animation: animate1 2s linear infinite;
}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.contact_us a span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to bottom, whitesmoke, #3bff);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

.contact_us a span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to left, whitesmoke, #3bff);
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.contact_us a span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to top, whitesmoke, #3bff);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}



/* .nav_one_page ul li {
    list-style: none;
    float: left;
    padding: 0px 13.5px;
} */


.pd_106 {
    padding: 106px 72px;
    padding-bottom: 199px;
}

.we_design_right{
    float: right;
}

.we_design_right h1{
    font-family: "Montserrat-Medium";
    font-size: 25pt;
    color: black;
    font-weight: 800;
}

.we_design_right p{
    font-family: "NunitoSans-Regular";
    color: #787878;
    font-size: 12pt;
}


/* about us one page */

.about_us{
    /* padding: 100px 0px; */
}

.about_us h1{
    font-family: "Montserrat-Medium";
    font-size: 25pt;
    font-weight: 800;
    color: black;
}


.about_us p{
    font-family: "NunitoSans-Regular";
    color: #787878;
    font-size: 12pt;
}



/* bars */

.bars {
    padding: 133px 100px;
}


.bars h1{
    font-family: "Montserrat-Medium";
    font-size: 25pt;
    color: black;
    font-weight: 800;

}

.bars h6{
    font-family: "NunitoSans-Regular";
    font-size: 10pt;

}


@font-face {
    font-family: "NunitoSans-Regular";
    src: url("../font/Nunito_Sans/NunitoSans-Regular.ttf");
}




/* images one page */




  .l_m a {
    font-size: 20px !important;
}


  .pd_50{
    padding: 50px;
  }


  /* our work */

.our_work{
    text-align: center;
}
.our_work h1{
    font-family: "Montserrat-Medium";
    font-size: 25pt;
    color: black;
    font-weight: 800;
}

.our_work p{
    font-family: "NunitoSans-Regular";
    color: #787878;
    font-size: 12pt;
}


  

/* ALL ICONS  */

.all_icons {
    padding: 5px;
    box-shadow: 5px 10px #888888;
}

.all_icons:hover
{
    background-color: #1d6dbd;
    color: whitesmokes;
    border-radius: 50px;
}

.all_icons:hover p{
    color: whitesmoke;
}

.all_icons:hover h4{
    color: whitesmoke;
}

.all_icons:hover i{
    color: whitesmoke;
    background-color: orange;
    border-radius: 50%;
}
.all_icons h4{
    font-size: 12pt;
    font-weight: 500;
}


.all_icons p{
    font-size: 10pt;
    color: #808080;
}

.all_icons p:hover{
    color: whitesmoke;
}


.all_icons:hover {
    /* padding: 15px;
    background: orange;
    color: whitesmoke;
    color: #1d6dbd;
    border-radius: 50%; */
}

/* images 4_4_images */

.services_1 img{
    /* width: 100%; */
}



/* moto _  */

.moto p{
    font-size: 13pt;
    font-size: "Montserrat-Medium";
    font-weight: 500;
    color: #ffffff;
}

.moto span{
    font-size: 10pt;
    font-weight: 400;
    color: #ffff;
    font-weight: bolder;
}

.conta{
    height: 35vh;
    margin-bottom: 25px;
}

/*   */





@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}